body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-behavior: smooth;
}

header, footer {
    background-color: #130361;
    color: #f0eada;
    font-family: Cambria, Georgia, 'Times New Roman', serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    padding: 10px;
}

.header-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

header>div {
    flex-grow: 1;
}

header>nav {
    flex-grow: 8;
}

.header-content {
    display: inline-block;
    text-align: right;
    padding: 10px;
    margin: 0;
}

.logo {
    color: #f0eada;
    max-width: 80px;
    width: 100%;
    height: fit-content;
}

.logo-text {
    color: #f0eada;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

#flex-nav {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.nav-link {
    font-style: italic;
    color: #f0eada;
    text-decoration: none;
}

.nav-link>li {
    font-size: 16px;
    padding: 10px;
}

.grid-layout {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 3%;
}

#grid-section-1 {
    grid-column: 1;
    grid-row: 1 / span 4;
}

#grid-section-2 {
    grid-column: 2;
    grid-row: 1 / span 4;
}

#grid-aside-3 {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.flex-list-item {
    padding: 5px;
    font-style: italic;
}

#grid-section-4 {
    grid-column: 3;
    grid-row: 2 / span 3;
}

#grid-section-5 {
    grid-column: 4;
    grid-row: 2 / span 3;
}

#grid-section-1, #grid-section-2, #grid-aside-3,
#grid-section-4, #grid-section-5 {
    padding: 15px;
}

section, aside {
    background-color: #f0eada;
    text-align: left;
    padding: 15px;
}

.section-header {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0 15px 15px 15px;
}

.picture-container {
    text-align: center;
}

.section-picture {
    width: 90%;
    max-width: 500px;
    padding-left: 5%;
    padding-right: 5%;
    height: fit-content;
}

.section-paragraph {
    font-size: 16px;
    margin: 15px;
    text-align: left;
    font-weight: 100;
}

.aside-header {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0 15px 15px 15px;
    font-style: italic;
}

.aside-paragraph {
    font-size: 16px;
    margin: 15px;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

footer {
    justify-content: space-between;
    bottom: 0;
}

#copyright, #return-up {
    font-family: Cambria;
    text-align: left;
    margin: 10px;
    font-size: 16px;
}

#copyright {
    padding: 5 px;
    color: #f0eada;
}

#return-up {
    padding: 5px 30px 5px 30px;
    border-radius: 12px;
    border: none;
    background-color: #f0eada;
    color: #130361;
}

@media screen and (max-width: 768px) {
    .grid-layout {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-template-rows: none;
        column-gap: 0;
    }

    .header-block {
        padding: 5px;
    }

    #flex-nav{
        padding: 0;
    }

    .logo {
        max-width: 70px;
        width: 100%;
    }
    
    .logo-text {
        font-size: 28px;
    }

    .nav-link>li {
        font-size: 14px;
        padding: 5px;
    }

    #grid-section-1, #grid-section-2, #grid-aside-3, 
    #grid-section-4, #grid-section-5 {
        margin-bottom: 3px;
    }

    .section-header, .aside-header {
        font-size: 20px;
        margin: 0 10px 10px 10px;
    }

    .section-paragraph, .aside-paragraph {
        font-size: 14px;
        margin: 10px;
        font-weight: 100;
    }

    #grid-section-1, #grid-section-2, #grid-aside-3,
    #grid-section-4, #grid-section-5 {
        padding: 25px;
    }

}